body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
}

.block {
  background-color: white;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 20px;
  box-shadow: 2px 10px 20px rgba(0,0,0,0.1);
  padding: 0.5rem 3rem;
  margin: 1rem;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: box-shadow 0.2s ease-in;
}

.block:hover {
  box-shadow: 5px 10px 20px rgba(0,0,0,0.3);
}

body {
  background-color: #f6f5f1;
}