body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
}

.block {
  background-color: white;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 10px;
  box-shadow: 2px 5px 5px rgba(0,0,0,0.05);
  transition: box-shadow 0.2s ease-in;
  transition: background-color 0.1s ease-in;
}

.block:hover {
  box-shadow: 1px 3px 3px rgba(0,0,0,0.05);
  background-color: rgba(0,0,0,0.03);
}

body {
  background-color: #f6f5f1;
}

*{
  list-style: none;
}