/* .currency-view {
    font-size: 4rem;
    padding: 4rem;
    text-align: center;
    background-color: #f4f4f2;
    color: #495464;
  } */

  /* .container {
    background-color: #F2F2F2;
    width: 100%;
    padding: 0px;
  } */

  /* .container {
    text-align: center;
    background-color: #F2F2F2;
    
  } */
  
.header-container {
  text-align: center;
  background-color: #F2F2F2;
  padding: 3rem;
}

.valute-name-block {
  
  color: #828282;
  /* background-color: cyan; */
  /* padding: 3rem; */
  font-size: 2rem;
  /* margin: 0px; */
}

.valute-nominal-block {
  
  color: #4F4F4F;
  /* background-color: yellow; */
  /* padding: 2rem; */
  font-size: 5rem;
  /* margin: 0px; */
}
